.authentication {
  z-index: 28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(108, 159, 156);
  opacity: 80%;
  display: flex;
  justify-content: center;
}

.close {
  width: 45px;
  position: fixed;
  top: 6%;
  left: 83%;
}

.text-center {
  position: fixed;
  top: 52%;
  left: 28%;
  color: white;
  font-family: 'NotoSansKR';
  // border: 2px solid white;
  padding: 10px 20px;
}


.submitBtn {
  margin-top: 40px;
  color: white;
  font-size: large;
  letter-spacing: 5px;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 330px;
  padding-right: 330px;
}

img {
  width: 139px;
  height: 98px;
  position: fixed;
  top: 5%;
  left: 14%;
}

.hr {
  border: 0;
  height: 3px;
  background: #ffffff;
  width: 78%;
  position: fixed;
  top: 18%;
  opacity: 50;
}

.closeBtn {
  position: fixed;
  color: white;
  top: 2%;

}

.texts {
  position: fixed;
  top: 27%;
  color: white;
  font-size: 45px;
  font-weight: 800;
  font-family: 'NotoSansKR';
}

.authentication .texts .secondTexts {
  margin-top: -20px;
}

.text2 {
  position: fixed;
  top: 47%;
  left: 32%;
  color: white;
}

.texts3 {
  position: fixed;
  top: 83%;
  left: 37.5%;
  color: white;
  &.texts3 a {
    text-decoration: none;
    font-size: larger;
    color: white;
  }
}