.postcard {
  max-height: 30px;
  width: 8vw;
  display: flex;
  justify-content: space-between;

  & .card-number{
    margin-right: 7%;
    font-size: x-large;
  }
  & .card-image img {
    height: 140px;
    width: 100%;
    object-fit: cover;
  }
  & .card-image {
    width: 200px;
  }
 
}
